<!doctype html>
<html lang="en">
  <%- include(`partials/head`); %>  
  <body>
    <%- include(`partials/navbar`); %> 
    <form action="/fixtures/comment/edit/<%= komentar.idkomentar %>/<%= komentar.komkoloid %>" method="POST">
      <div class="admin-edit-fixture-title">Uređivanje komentara</div>
      <div class="comment-edit-box">
        <textarea  id="komtekst" name="komtekst" style="width: 100%;" rows="5"> <%= komentar.sadrzajkom %></textarea>
    </div> 
    <div style="text-align: center;">
        <input type="submit" class="button-59" style="height: 2em; font-size:2em; margin-top: 1rem;  ">
    </div>
    
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>